.pagination-button {
  padding: 0.8rem;
  margin: 0.2rem;
  border-radius: 3px;
  font-size: 1em;
  cursor: pointer;
}
.pagination-button.active {
  background-color: #ccc;
  color: #111;
  cursor: auto;
}

.pagination-button:disabled {
  cursor: auto;
}

.pagination-row {
  text-align: center;
  padding: 0.5rem 0;
}
